@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    max-width: 80vw;
    margin: auto;
    text-align: justify;
    background-color: rgb(64, 102, 112);
   
}
ul {
    list-style: none;
}
p {
    color: whitesmoke;
}
h2 {
    font-weight: 600;
}
section {
    background-color: whitesmoke;
    color:  rgb(64, 102, 112);
    padding: 60px 30px;
    margin: 45px 0;
}
button {
    background-color: #eee;
    padding: 5px 12px;
    border: none;
    font-size: 20px;
    color: rgb(64, 102, 112);
    font-weight: 900;
}
button:hover {
    transition: 0.5s;
    cursor: pointer;
    background-color: rgb(44, 70, 77);
    color: #eee;
}
@media screen and (max-width:1000px) {
    h1 {
        text-align: left;
        font-size: 30px;
    }
    section ul li {
        font-size: 16px;
    }
   
}
@media screen and (max-width:550px) {
    
    section ul  {
        text-indent: 0;
        padding: 0;
    }
}